<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.Login.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetInto</servlet-name>
		<servlet-class>controller.Acces.GetInto</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetInto</servlet-name>
		<url-pattern>/getInto</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>Serve</servlet-name>
	  <servlet-class>controller.Photo.Serve</servlet-class>
	</servlet>
	 
	<servlet-mapping>
	  <servlet-name>Serve</servlet-name>
	  <url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccesDenied</servlet-name>
		<servlet-class>controller.AccesDenied.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccesDenied</servlet-name>
		<url-pattern>/accesDenied</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login.GmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>controller.User.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/addUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewUser</servlet-name>
		<servlet-class>controller.User.View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewUser</servlet-name>
		<url-pattern>/viewUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>controller.User.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/editUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListUser</servlet-name>
		<servlet-class>controller.User.GetList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUser</servlet-name>
		<url-pattern>/listUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>controller.User.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddRole</servlet-name>
		<servlet-class>controller.Role.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRole</servlet-name>
		<url-pattern>/addRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewRole</servlet-name>
		<servlet-class>controller.Role.View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewRole</servlet-name>
		<url-pattern>/viewRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditRole</servlet-name>
		<servlet-class>controller.Role.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditRole</servlet-name>
		<url-pattern>/editRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListRole</servlet-name>
		<servlet-class>controller.Role.GetList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListRole</servlet-name>
		<url-pattern>/listRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteRole</servlet-name>
		<servlet-class>controller.Role.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteRole</servlet-name>
		<url-pattern>/deleteRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddResource</servlet-name>
		<servlet-class>controller.Resource.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddResource</servlet-name>
		<url-pattern>/addResource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewResource</servlet-name>
		<servlet-class>controller.Resource.View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewResource</servlet-name>
		<url-pattern>/viewResource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditResource</servlet-name>
		<servlet-class>controller.Resource.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditResource</servlet-name>
		<url-pattern>/editResource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListResource</servlet-name>
		<servlet-class>controller.Resource.GetList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListResource</servlet-name>
		<url-pattern>/listResource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteResource</servlet-name>
		<servlet-class>controller.Resource.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteResource</servlet-name>
		<url-pattern>/deleteResource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAcces</servlet-name>
		<servlet-class>controller.Acces.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAcces</servlet-name>
		<url-pattern>/addAcces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewAcces</servlet-name>
		<servlet-class>controller.Acces.View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAcces</servlet-name>
		<url-pattern>/viewAcces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditAcces</servlet-name>
		<servlet-class>controller.Acces.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditAcces</servlet-name>
		<url-pattern>/editAcces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListAcces</servlet-name>
		<servlet-class>controller.Acces.GetList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAcces</servlet-name>
		<url-pattern>/listAcces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteAcces</servlet-name>
		<servlet-class>controller.Acces.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAcces</servlet-name>
		<url-pattern>/deleteAcces</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPhoto</servlet-name>
		<servlet-class>controller.Photo.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPhoto</servlet-name>
		<url-pattern>/addPhoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewPhoto</servlet-name>
		<servlet-class>controller.Photo.View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewPhoto</servlet-name>
		<url-pattern>/viewPhoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditPhoto</servlet-name>
		<servlet-class>controller.Photo.Edit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPhoto</servlet-name>
		<url-pattern>/editPhoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListPhoto</servlet-name>
		<servlet-class>controller.Photo.GetList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListPhoto</servlet-name>
		<url-pattern>/listPhoto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeletePhoto</servlet-name>
		<servlet-class>controller.Photo.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePhoto</servlet-name>
		<url-pattern>/deletePhoto</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
